<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /trasladosgdl/
#If your project is in server root then should be : RewriteBase /
#If project is in the folder then it should be: RewriteBase /folderName/

RewriteCond %{REQUEST_URI} ^system.*
RewriteRule ^(.*)$ /index.php?/$1 [L]

RewriteCond %{REQUEST_URI} ^application.*
RewriteRule ^(.*)$ /index.php?/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>
<IfModule !mod_rewrite.c>
ErrorDocument 404 trasladosgdl/index.php
</IfModule>
